<a href="https://colab.research.google.com/github/saurater/ciencia_de_dados_pyspark/blob/main/PySpark_Tutorial_Part_1_PySpark_Installation_and_Dataset_Creation_and_Reading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PySpark -  Tutorial - Part 1 - PySpark Installation and Dataset Creation and Reading
## Sam Faraday
June 2022

## Sources: 
1. Free Code Camp: PySpark Tutorial at https://www.youtube.com/watch?v=_C8kWso4ne4
2. Apache Spark API Refernce at  https://spark.apache.org/docs/latest/api/python/reference/index.html

# 1. Installing PySpark

In [ ]:
#pip install pyspark

In [ ]:
import pandas as pd

# 2. Creating the Test Dataset

In [ ]:
data = {'Name':['Tom', 'Nick', 'Krish', 'Jack'], 'Age':[20, 21, 19, 18]}

In [ ]:
# Create DataFrame
df = pd.DataFrame(data)

In [ ]:
df.to_csv('test1.csv', index=False)

# 3. Initializing PySpark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [ ]:
spark

# 4. Reading the Dataset

In [ ]:
spark.read.option('header', 'true').csv('test1.csv').show()

+-----+---+
| Name|Age|
+-----+---+
|  Tom| 20|
| Nick| 21|
|Krish| 19|
| Jack| 18|
+-----+---+

In [ ]:
df_spark = spark.read.option('header', 'true').csv('test1.csv')

In [ ]:
df_spark.show()

+-----+---+
| Name|Age|
+-----+---+
|  Tom| 20|
| Nick| 21|
|Krish| 19|
| Jack| 18|
+-----+---+

In [ ]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_spark.head(2)

[Row(Name='Tom', Age='20'), Row(Name='Nick', Age='21')]

# 5. Checking the Schema

In [ ]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)