<a href="https://colab.research.google.com/github/saurater/ciencia_de_dados_pyspark/blob/main/PySpark_Trabalho_Pr%C3%A1tico_I_Vers%C3%A3o_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PySpark - Trabalho Prático I

## Adaptação do IGTI por Sam Faraday

June 2022

# Instala o Pyspark

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

# Importa o SparkSession e Cria a Sessão

In [2]:
from pyspark.sql import SparkSession
spark  =  SparkSession.builder.appName("Trabalho_Pratico").getOrCreate()

# Lendo o Dataframe com Spark

In [3]:
df = spark.read.csv("all_stocks_5yr.csv", inferSchema=True, header=True)

# Verificando o tipo do Dataframe
Note que não se trata de um Dataframe Pandas, mas de um PySpark

In [4]:
type(df)

pyspark.sql.dataframe.DataFrame

#Descrevendo o Dataframe

## Verificando os Tipos de Dados (das Features)

In [5]:
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volume: integer (nullable = true)
 |-- Name: string (nullable = true)

## Análise Estatística

In [6]:
df.describe().show()

+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|summary|      date|             open|             high|              low|            close|           volume|  Name|
+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|  count|    619040|           619029|           619032|           619032|           619040|           619040|619040|
|   mean|      null|83.02333431454696|83.77831069346465|82.25609641375786|83.04376276476573|4321823.395568945|  null|
| stddev|      null| 97.3787690433231|  98.207518904464| 96.5074210580914|97.38974800165752|8693609.511967659|  null|
|    min|2013-02-08|             1.62|             1.69|              1.5|             1.59|                0|     A|
|    max|2018-02-07|           2044.0|          2067.99|          2035.11|           2049.0|        618237630|   ZTS|
+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+------+

# Visualizando os Dados

In [7]:
df.show()

+----------+-----+-----+-----+-----+--------+----+
|      date| open| high|  low|close|  volume|Name|
+----------+-----+-----+-----+-----+--------+----+
|2013-02-08|15.07|15.12|14.63|14.75| 8407500| AAL|
|2013-02-11|14.89|15.01|14.26|14.46| 8882000| AAL|
|2013-02-12|14.45|14.51| 14.1|14.27| 8126000| AAL|
|2013-02-13| 14.3|14.94|14.25|14.66|10259500| AAL|
|2013-02-14|14.94|14.96|13.16|13.99|31879900| AAL|
|2013-02-15|13.93|14.61|13.93| 14.5|15628000| AAL|
|2013-02-19|14.33|14.56|14.08|14.26|11354400| AAL|
|2013-02-20|14.17|14.26|13.15|13.33|14725200| AAL|
|2013-02-21|13.62|13.95| 12.9|13.37|11922100| AAL|
|2013-02-22|13.57| 13.6|13.21|13.57| 6071400| AAL|
|2013-02-25| 13.6|13.76| 13.0|13.02| 7186400| AAL|
|2013-02-26|13.14|13.42| 12.7|13.26| 9419000| AAL|
|2013-02-27|13.28|13.62|13.18|13.41| 7390500| AAL|
|2013-02-28|13.49|13.63|13.39|13.43| 6143600| AAL|
|2013-03-01|13.37|13.95|13.32|13.61| 7376800| AAL|
|2013-03-04| 13.5|14.07|13.47| 13.9| 8174800| AAL|
|2013-03-05|14.01|14.05|13.71|14.05| 7676100| AAL|
|2013-03-06|14.52|14.68|14.25|14.57|13243200| AAL|
|2013-03-07| 14.7|14.93| 14.5|14.82| 9125300| AAL|
|2013-03-08|14.99| 15.2|14.84|14.92|10593700| AAL|
+----------+-----+-----+-----+-----+--------+----+
only showing top 20 rows

# Pergunta 1

**Quantos registros há na planilha?**

1. **619.040** - Basta ver o count do df.describe()

2. 619.042

3. 619.039

4. 619.041

In [8]:
df.describe().show()

+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|summary|      date|             open|             high|              low|            close|           volume|  Name|
+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+------+
|  count|    619040|           619029|           619032|           619032|           619040|           619040|619040|
|   mean|      null|83.02333431454696|83.77831069346465|82.25609641375786|83.04376276476573|4321823.395568945|  null|
| stddev|      null| 97.3787690433231|  98.207518904464| 96.5074210580914|97.38974800165752|8693609.511967659|  null|
|    min|2013-02-08|             1.62|             1.69|              1.5|             1.59|                0|     A|
|    max|2018-02-07|           2044.0|          2067.99|          2035.11|           2049.0|        618237630|   ZTS|
+-------+----------+-----------------+-----------------+-----------------+-----------------+-----------------+------+

# Pergunta 2
**Quantos registros há na planilha para a ação da Apple (AAPL)?**

1. 5.901

2. 30.131

3. **1.259**

4. 931

In [9]:
df.filter( df.Name  == "AAPL").count()

1259

# Pergunta 3
**Quantas empresas distintas têm registros nessa planilha?**
1. 305

2. 300

3. **505**

4. 605

In [10]:
from pyspark.sql.functions import countDistinct
df3 = df.select(countDistinct("Name")).show()

+--------------------+
|count(DISTINCT Name)|
+--------------------+
|                 505|
+--------------------+

# Pergunta 4
**Com qual frequência o preço de uma ação no fechamento é maior do que o preço na abertura?**


1. 50,5%

2. **51,5%**

3. 52,5%

4. 52,0%

In [11]:
df.createOrReplaceTempView("acoes")
df3 = spark.sql(" select open, close, case when close > open then 'close' else 'open'end fechar_abrir from acoes ")
df3.createOrReplaceTempView("acoes2")

spark.sql(" select fechar_abrir, count(fechar_abrir) total  from acoes2 group by fechar_abrir ").show()

+------------+------+
|fechar_abrir| total|
+------------+------+
|       close|318970|
|        open|300070|
+------------+------+

In [12]:
spark.sql("select round(318970 / (318970 + 300070) * 100, 2) Frequencia_de_Close_Maior_que_Open from acoes2").show(1)

+----------------------------------+
|Frequencia_de_Close_Maior_que_Open|
+----------------------------------+
|                             51.53|
+----------------------------------+
only showing top 1 row

# Pergunta  -   5
**Qual o maior valor das ações da Apple (AAPL) na história?**

1. 57.08

2. **180.1**

3. 109.95

4. 99.99

In [13]:
df.filter(df.Name  == "AAPL").groupBy('Name').max('high').show()

+----+---------+
|Name|max(high)|
+----+---------+
|AAPL|    180.1|
+----+---------+

# Pergunta 6
**Qual ação tem a maior volatilidade?** 

Uma forma é medir o desvio-padrão do preço de fechamento de cada ação e considerar a ação de maior desvio-padrão.


1. AES.

2. **PCLN.**

3. GOOGL.

4. AMZN.

In [14]:
df.createOrReplaceTempView("acoes")
spark.sql("select Name, stddev(close) as stddev from acoes group by Name order \
by  stddev(close) desc").show(5)

+-----+------------------+
| Name|            stddev|
+-----+------------------+
| PCLN|  320.533473018748|
| AMZN|  282.500395033522|
|GOOGL|187.57389185479704|
| GOOG|166.42052902768182|
|  MTD|131.39721989584996|
+-----+------------------+
only showing top 5 rows

# Pergunta 7
**Qual o dia com maior volume total de negociação da bolsa?**

1. 20/01/2016

2. 18/12/2015

3. **24/08/2015**

4. 24/06/2016

In [15]:
spark.sql("select date, round(sum(volume)) as total from acoes group by date \
order by  sum(volume) desc").show(5)

+----------+----------+
|      date|     total|
+----------+----------+
|2015-08-24|4607945196|
|2016-06-24|4367393052|
|2015-12-18|4124454411|
|2016-01-20|4087629753|
|2018-02-06|4072080890|
+----------+----------+
only showing top 5 rows

# Pergunta 8
**Qual a ação mais negociada da bolsa, em volume de transações?**


1. F

2. **BAC**

3. GE

4. AAPL

In [16]:
spark.sql("select Name, round(sum(volume)) as total \
from acoes group by Name \
order by  sum(volume) desc").show(5)

+----+------------+
|Name|       total|
+----+------------+
| BAC|117884953591|
|AAPL| 68046305767|
|  GE| 53023644686|
|   F| 43388129992|
|  FB| 43258314899|
+----+------------+
only showing top 5 rows

# Pergunta 9
**Quantas ações começam com a letra “A”?**


1. 29

2. 72870.

3. 19

4. **59**

In [27]:
spark.sql("select count(distinct(Name)) from acoes where Name like 'A%' ").show(5)

+--------------------+
|count(DISTINCT Name)|
+--------------------+
|                  59|
+--------------------+

# Pergunta 10
**Com qual frequência o preço mais alto do dia da ação também é o preço de fechamento?**


1. 21%

2. **1,2%**

3. 12%

4. 2,1%

In [18]:
spark.sql(" select count(*)  total_transacoes from acoes   ").show(1)
df3 = spark.sql(" select count(*) total_close_igual_high from acoes where close = high ")
df3.createOrReplaceTempView("acoes4")
df3.show(1)

spark.sql(" select round((7420 / 619040) * 100, 2) freq_high_igual_close from acoes ").show(1)

+----------------+
|total_transacoes|
+----------------+
|          619040|
+----------------+

+----------------------+
|total_close_igual_high|
+----------------------+
|                  7420|
+----------------------+

+---------------------+
|freq_high_igual_close|
+---------------------+
|                  1.2|
+---------------------+
only showing top 1 row

# Pergunta 11
**Em qual dia a ação da Apple mais subiu entre a abertura e o fechamento, de forma absoluta?**


1. 08/05/2017

2. **24/08/2015**

3. 09/12/2014

4. 06/02/2018

In [19]:
spark.sql("select Name, date ,  open, close ,round(abs(open - close),2) Variacao \
from acoes where Name= 'AAPL' order by abs(open - close)  desc").show(5)

+----+----------+------+------+--------+
|Name|      date|  open| close|Variacao|
+----+----------+------+------+--------+
|AAPL|2015-08-24| 94.87|103.12|    8.25|
|AAPL|2018-02-06|154.83|163.03|     8.2|
|AAPL|2015-08-25|111.11|103.74|    7.37|
|AAPL|2017-06-09|155.19|148.98|    6.21|
|AAPL|2018-02-02| 166.0| 160.5|     5.5|
+----+----------+------+------+--------+
only showing top 5 rows

# Pergunta 12
**Em média, qual o volume diário de transações das ações da AAPL?**


1. **~54 milhões (Em revisão - Notaçao Científica)**

2. ~9 milhões

3. ~100 milhões

4. ~10 milhões

In [30]:
spark.sql("select  avg(volume) from acoes where Name= 'AAPL' ").show(5)

+-------------------+
|        avg(volume)|
+-------------------+
|5.404789973550437E7|
+-------------------+

# Pergunta 13
**Quantas ações tem 1, 2, 3, 4 e 5 caracteres em seu nome, respectivamente?**


1. 10, 5, 323, 50, 117.

2. 10, 323, 50, 5, 117.

3. **10, 50, 323, 117, 5.**

4. 10, 117, 50, 323, 50, 5.

In [21]:
spark.sql("select count(distinct(Name))  tamanho from acoes \
where length(Name) = 1  \
union all \
select count(distinct(Name))  tamanho from acoes \
where length(Name) = 2 \
union all \
select count(distinct(Name))  tamanho from acoes \
where length(Name) = 3 \
union all \
select count(distinct(Name))  tamanho from acoes \
where length(Name) = 4 \
union all \
select count(distinct(Name))  tamanho from acoes \
where length(Name) = 5 \
"  ).show()

+-------+
|tamanho|
+-------+
|     10|
|     50|
|    323|
|    117|
|      5|
+-------+

# Pergunta 14
**Qual a ação menos negociada da bolsa, em volume de transações?**


1. MTD

2. **APTV**

3. AZO

4. BHF

In [22]:
spark.sql("select  Name, sum(volume) from acoes group by Name order by sum(volume) asc ").show(5)

+----+-----------+
|Name|sum(volume)|
+----+-----------+
|APTV|   92947779|
| BHF|  144878392|
| MTD|  214489754|
| AZO|  397585127|
|WLTW|  414734590|
+----+-----------+
only showing top 5 rows

# Pergunta 15
**Com qual frequência o preço de fechamento é também o mais alto do dia?**

1. 3,6%.

2. **0% em Revisão**

3. 9,5%

4. 1,2%.

In [23]:
spark.sql(" select count(*)  total_transacoes from acoes   ").show(1)
df3 = spark.sql(" select count(*) total_close_maior_do_dia from acoes where close > open  and close > low and  close > high")
df3.createOrReplaceTempView("acoes4")
df3.show(1)

spark.sql(" select (round( (1 / 619040) * 100)) close_mais_alto_do_dia from acoes ").show(1)

+----------------+
|total_transacoes|
+----------------+
|          619040|
+----------------+

+------------------------+
|total_close_maior_do_dia|
+------------------------+
|                       1|
+------------------------+

+----------------------+
|close_mais_alto_do_dia|
+----------------------+
|                   0.0|
+----------------------+
only showing top 1 row